.nav-bar{
    //background-color:#560104;// #a4161a;
    background-image: url(../../assets/sfondo.png);
    height: 370px;
    color: white;
    text-align: center;
    i{
        font-size: 30px;
    }
    .title{
        height: 30px;
        width: 230px;
        margin: auto;
    }
}