.card{
    //#560104
   // background-image: url(../../assets/Cattura.JPG);
    border-color: #3d4264;
    background-color: #3d4264;
    color: white;
    text-align: center;
    font-size: 23px;
    i{
        font-size: 30px;
    }
    cursor: pointer;
}